:root {
    --main-color: #898989;
    --button-color: #4CAF50;
    --border-radius-date: 4px;
    --bg-color: white;
  }
  .appointment-component {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    background-color: var(--bg-color);
  }
   .appointment-component th, .appointment-component td {
    padding: 10px;
    border-right: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    background-color:var(--bg-color);
  }  
  .appointment-component th:last-child, .appointment-component td:last-child {
    border-right: none;
  }
  .appointment-component tbody tr:last-child td {
    border-bottom: none; 
}