:root {
    --select-color: #4e83bc;
    --hover: #3a6a9c;
    --border: #ddd;
    --bg: #fff;
    --label: #313131;
    --radius: 12px;
    --t: 0.3s;
    --shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.cancell-schedule-component {
    max-width: 700px;
    width: 100%;
    margin: 30px auto 0;
    padding: 20px;
    background: var(--bg);
    border-radius: var(--radius);
    border: 1px solid var(--select-color);
    box-shadow: var(--shadow);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Input */
.form-group input {
    width: 100%;
    padding: 12px;
    color: var(--label);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    transition: all var(--t);
}

.form-group input:focus {
    border-color: var(--select-color);
    box-shadow: 0 0 5px rgba(78, 131, 188, 0.3);
}
