:root {
    --select-color: #4e83bc;     /* Azul */
    --hover: #2f77c4;       /* Hover */
    --border: #ccc;         /* Bordas */
    --bg: #f9f9f9;         /* Fundo */
    --label-color: #313131;   /* Texto */
    --radius: 12px;        /* Bordas */
    --t: 0.3s;             /* Tempo */
    --error: #ff3333;        /* Cor de erro */
    --error-shadow: rgba(255, 51, 51, 0.3); /* Sombra do erro */
}

/* Container */
.create-user-component {
    max-width: 650px;
    width: 100%;
    margin: 50px auto 0;
    padding: 20px;
    background: var(--bg);
    border-radius: var(--radius);
    border: 1px solid var(--select-color);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Grupos */
.form-group {
    margin-bottom: 20px;
    width: 100%;
}

/* Título */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--label-color);
    font-weight: bold;
}

/* Campos */
.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    transition: all var(--t);
    outline: none;
}

.form-group input:focus {
    border-color:var(--select-color);
    box-shadow: 0 0 5px rgba(78, 131, 188, 0.3);
}

/* Botão */
button {
    width: 40%;
    padding: 12px;
    margin: 10px auto;
    background: var(--select-color);
    color: white;
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    display: block;
    transition: all var(--t);
    font-size: 16px;
}

button:hover {
    background: var(--hover);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Estados de erro */
.form-group input.input-error {
    border-color: var(--error);
    box-shadow: 0 0 5px var(--error-shadow);
}

.form-group input.input-error:focus {
    border-color: var(--error);
    box-shadow: 0 0 8px var(--error-shadow);
}

/* Mensagem de erro */
.error-message {
    color: var(--error);
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.error-message.visible {
    display: block;
}