:root {
    --select-color: #4e83bc;    /* Cor principal para seleção e botões */
    --hover: #3a6a9c;           /* Cor do hover em elementos interativos */
    --border: #ddd;             /* Cor padrão para bordas */
    --bg: #fff;                 /* Cor de fundo */
    --label-color: #313131;     /* Cor do texto */
    --radius: 12px;              /* Arredondamento padrão */
    --t:0.3s;               /* Tempo de transição */
}

/* Container principal*/
.create-schedule-component {
    display: flex;
    flex-direction: column;
    min-width: 700px;
    width: 100%;
    margin:30px auto 0;
    padding: 20px;
    background: var(--bg);
    border-radius: var(--radius);
    border: 1px solid var(--select-color);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Grupos */
.form-group {
    margin-bottom: 20px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--label-color);
}

/* Campos */
.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    transition: all var(--t);
    outline: none;
}

.form-group input:focus {
    border-color:var(--select-color);
    box-shadow: 0 0 5px rgba(78, 131, 188, 0.3);
}

/* Botão */
.add-schedule-button {
    width: 40%;
    padding: 15px;
    margin: 10px auto;
    background: var(--select-color);
    color: white;
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    display: block;
    transition: all var(--t);
    font-size: 16px;
}
.add-schedule-button:hover {
    background: var(--hover);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}