:root {
    --main-color: #898989;
    --button-color: #4CAF50;
    --border-radius: 12px;
    --bg-color: white;
    --padding-text: 8px;
}

.change-password-component {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
}
.change-password-component h1 {
    text-align: center;
}

.change-password-component label {
    display: block;
    text-align: left;
}

.change-password-component input {
    width: 100%;
    padding: var(--padding-text);
    margin-bottom: 15px;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    font-size: 14px;
    box-sizing: border-box;
}

.change-password-component button {
    width: 50%;
    padding: var(--padding-text);
    margin: 0 auto;
    display: block;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.change-password-component button:hover {
    background-color: #45a049;
}