.user-info{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}