* {
    box-sizing: border-box;
}

:root {
    --primary-color: #6191c5;
    --secondary-color: #2468b1;
    --footer-color: #18518e;
    --hover-bg: white;
    --text-color: white;
    --font-size-default: 14px;  
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
    .logo{
        display: flex;
        align-items: center;
    }

    .logo img {
        max-height: 60px;
        width: auto;
    }

    .nav-links {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .nav-links li {
        display: flex;
        align-items: center;
    }

    .nav-links a {
        text-decoration: none;
        font-size: var(--font-size-default);
        font-weight: bold;
        color: var(--text-color);
        padding: 8px 12px;
        border-radius: 8px;
        transition: background 0.3s, color 0.3s;
        margin: 8px;
    }

    .nav-links a:hover,
    .nav-links a.selected {
        background: var(--hover-bg);
        color: var(--hover-color);
    }
}

main.content {
    flex-grow: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

footer {
    background: var(--footer-color);
    flex-shrink: 0;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}
footer p, footer span, footer a {
    margin: 0; 
    font-size: 15px; 
}
/*Imagem Outras Páginas*/
body{
    background: url('../images/90d0f266-21fd-4042-876e-9ebd23cd742b.png');
}